{% load static %}
<!DOCTYPE html>
<html ln="en">
    <head>
        <title>Editing</title>
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="align">
            <h1>Editting {{title}}  page</h1>
            <form method = "POST" action="">
                {% csrf_token %}
                <textarea id = "textarea" name = "txtarea">{{content}}</textarea>
                <div >
                    <input type = "submit" name = "confirm" value="confirm" /> 
                </div>
            </form>
        </div>
    </body>
</html>      